nav{
  display: flex;
}

.nav-link {
  font-size: 20px;
}

.active {
  color: black;
}

.form-control {
  max-width: 300px;
  display: inline-block;
}

.poster {
  display: flex;
}

.card {
  text-align: center;
  min-width: 250px;
  max-width: 250px;
}

.cast_list {
  display: flex;
  flex-wrap: wrap;
}